<h1>Basket</h1>
<% if view_model.products.empty? %>
  basket is empty
<% end %>
<% f = form(
    view_model.products,
    basket_path(view_model.order_id),
    method: 'put',
    csrf_token: view_model.csrf_token,
    csrf_token_name: 'authenticity_token',
    errors: [],
    path_prefix: 'products'
  ) %>
  <%= f.start %>
  <%= view_model.errors unless view_model.errors.empty? %><br>
  <% view_model.products.each do |product| %>
    <a href='<%= product_path(product['id']) %>'>
      <%= product['name'] %>
    </a>
    <%= f.input product['id'].to_s.to_sym, type: 'number', value: product['quantity'] %> pcs. =
    <del>
      <%= product['quantity'] * product['price'] %> USD
    </del>
    <%= product['quantity'] * product['price'] * (1 - view_model.discount / 100.0) %> USD
    <br>
  <% end %>
  <br>
  <%= f.submit value: 'Change' unless view_model.products.empty? %>
<%= f.end %>
<br>
discount: <%= view_model.discount %>%<br>
total: <%= view_model.total %> USD
