<h1>Basket</h1>
<% if view_model.products.empty? %>
  basket is empty
<% end %>
<% f = form(
    view_model.products,
    basket_path(view_model.basket.user_id),
    method: 'put',
    csrf_token: view_model.csrf_token,
    csrf_token_name: 'authenticity_token',
    errors: [],
    path_prefix: 'products'
  ) %>
  <%= f.start %>
  <%= view_model.errors unless view_model.errors.empty? %><br>
  <% view_model.products.each do |product| %>
    <a href='<%= product_path(product['id']) %>'>
      <%= product['name'] %>
    </a>
    <%= f.input product['id'].to_s.to_sym, type: 'number', value: product['quantity'] %> pcs. =
    <del>
      <%= product['quantity'] * product['price'] %> USD
    </del>
    <%= product['quantity'] * product['price'] * (1 - view_model.basket.discount / 100.0) %> USD
    <br>
  <% end %>
  <br>
  <%= f.submit value: 'Change' unless view_model.products.empty? %>
<%= f.end %>
<br>
discount: <%= view_model.basket.discount %>%<br>
total: <del><%= view_model.basket.total_price %> USD</del> <%= view_model.basket.final_price %> USD

<% unless view_model.products.empty? %>
  <% f = form(
      nil,
      checkout_path,
      csrf_token: view_model.csrf_token,
      csrf_token_name: 'authenticity_token',
      errors: []
  ) %>
    <%= f.start %>
    <%= f.hidden value: view_model.basket.user_id,
                name: 'user_id' %>
    <%= f.hidden value: view_model.products,
                name: 'products' %>
    <%= f.select(
      name: :payment_method,
      collection: [['VISA', 1], ['MasterCard', 2]]
    ) %>
    <%= f.submit value: 'Checkout' %>
  <%= f.end %>
<% end %>
