<h1>Edit user:</h1>
<%= view_model.errors unless view_model.errors.empty? %>

<% f = form(
    view_model.user,
    user_path(id: view_model.user.id),
    method: 'put',
    csrf_token: view_model.csrf_token,
    csrf_token_name: 'authenticity_token',
    errors: [],
    path_prefix: 'user'
  ) %>
  <%= f.start %>
  <%= f.hidden value: view_model.user.uid,
               name: 'user[uid]' %>
  <%= f.label :name %>
  <%= f.input :name %>
  <br>
  <%= f.label :email %>
  <%= f.input :email %>
  <br><br>
  <%= f.submit %>
<%= f.end %>
