<% if view_model.current_user_id.nil? %>
  <a href='<%= login_path %>'>Login</a>
<% else %>
  <%= "Hi, #{view_model.current_user_id}!" %>
  <a href='<%= basket_index_path %>'>Basket</a>
  <br>
  <a href='<%= logout_path %>'>Logout</a>
<% end %>
<br><br>
<a href='<%= products_path %>'>Products</a>
<h1>Users:</h1>
<a href='<%= new_user_path %>'>New</a>
<br>
<% view_model.users.each do |user| %>
  <%= user[:name] %> | <%= user[:email] %>
  <a href='<%= edit_user_path(user[:id]) %>'>Edit</a>
  <br>
<% end %>
