<h1>New user:</h1>
<%= form_for :user, url: users_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br><br>
  <%= f.submit %>
<% end %>
